body{
	background-color:#dddddd;
	font-family:serif,sans-serif,cursive,fantasy,monospace;
	font-size:14px;
}

.wrapper{
	     position: absolute;
     left: 50%;
     transform: translateX(-50%);
	display:inline-block;
	 background-color:rgba(0, 0, 0,0.6);
    padding: 20px;
	border-radius:20px;
}

.header{
	margin:10px 20px 20px 20px;
	text-align:center;
		color:#fff;
	font-size:18px;
}

#area{
	padding:10px;
	border-style: inset;
	color:#fff;
	text-align:right;
	height:15px;
	overflow:hidden;
}

#input{
	padding:10px;
	border-bottom:#ff9999 solid 1px;
	color:#ff9999;
	text-align:right;
	height:15px;
	overflow:hidden;
	font-size:16px;
}

.convert p{
	margin-top:0px;
	margin-bottom:0px;
	padding:10px;
	color:#fff;
}

.convert p:hover{
	background-color:lightgrey;
}

.row{
	margin-top:10px;
	margin-right:-10px;
}

.press{
	height:40px;
	width:40px;
	margin-right:10px;
	border-radius:5px;
	background-color:#fff;
}